*, *:before, *:after
	box-sizing: border-box

html, body
	margin: 0
	padding: 0
	height: 100%

c_black = #0f0f23

body
	background-color: c_black
	color: white
	
	height: 100%
	max-height: 100%
	
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif

header
	text-align: center
	font-weight: 700
	padding-top: 16px
	@media (orientation: landscape)
		font-size: 72px
	@media (orientation: portrait)
		font-size: 10vw

#grid
	padding: 16px
	margin: 0 auto
	border: 5px dashed #333
	font-size: 0
	@media (orientation: landscape)
		width: 100%
	@media (orientation: portrait)
		width: 100%

.tile
	position: relative
	border: 1px solid c_black
	display: inline-block
	width: 9.090909%
	height: 9.090909%
	background-color: #a1a1a1
	color: black
	@media (orientation: landscape)
		font-size: 3.5vh
	@media (orientation: portrait)
		font-size: 3.5vw
	&::before
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		content: attr(data-adj)
		display: block
	&::after
		transition: opacity 0.3s
	&.revealed
		background-color: #cdcdcd
		&::after
			opacity: 0 !important
	&.wall
		background-color: #666
	&.mine
		background-color: red
		/*&.defused
			background-color: #A52A2A*/
	.show-all &
		&.mine
			background-color: red
		&::before
			content: attr(data-adj) !important
			color: black
		&::after
			opacity: 0 !important
	&.player
		border: 5px solid white
		&.place
			border: 5px solid red
	&:not(.wall)::after
		content: ''
		display: block
		padding-bottom: 100%
		background-color: #a1a1a1
		background-color: black
		opacity: 1
		width: 100%
	&.marked::before
		content: 'M'
		color: red
	&.question::before
		content: '?'
		color: lime
