*, *:before, *:after
	box-sizing: border-box

html, body
	margin: 0
	padding: 0
	height: 100%

c_black = #0f0f23

body
	background-color: c_black
	color: white
	
	height: 100%
	max-height: 100%
	
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif

header
	text-align: center
	font-weight: 700
	padding-top: 16px
	@media (orientation: landscape)
		font-size: 72px
	@media (orientation: portrait)
		font-size: 10vw

#grid-holder
	padding: 16px
	margin: 0 auto
	border: 5px dashed #333

#grid
	position: relative
	margin: 0 auto
	font-size: 0
	@media (orientation: landscape)
		width: 100%
	@media (orientation: portrait)
		width: 100%

.player-elem
	position: absolute
	width: 6.5%
	height: 6.5%
	background-color: #0A95FF
	border: 5px solid white
	left: 50%
	top: 50%
	opacity: 0.5
	transform: translate(-50%, -50%)
	transition: background-color 0.15s
	&.place
		background-color: orange

.tile
	position: relative
	border: 1px solid c_black
	display: inline-block
	width: 9.090909%
	height: 9.090909%
	background-color: #a1a1a1
	color: black
	@media (orientation: landscape)
		font-size: 2.4vh
	@media (orientation: portrait)
		font-size: 2.4vw
	&::before
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		content: attr(data-adj)
		display: block
		transition: color 0.3s
		z-index: -1
	&::after
		content: ''
		display: block
		padding-bottom: 100%
		background-color: #a1a1a1
		background-color: black
		opacity: 1
		width: 100%
		transition: opacity 0.3s
	&.revealed
		background-color: #cdcdcd
		&::before
			z-index: 1
		&::after
			opacity: 0 !important
	&.adj
		background-color: #ddddcd
	&.wall
		background-color: #666
	&.mine
		background-color: red
		/*&.defused
			background-color: #A52A2A*/
	.show-all &
		&.mine
			background-color: red
		&::before
			content: attr(data-adj) !important
			color: black
		&::after
			opacity: 0
	&.marked::before, &.question::before
		z-index: 1
		@media (orientation: landscape)
			font-size: 1.8vh
		@media (orientation: portrait)
			font-size: 1.8vw
	&.marked::before
		font-weight: 700
		content: 'M'
		color: white
	&.question::before
		font-weight: 700
		content: '?'
		color: white
	.marker
		position: absolute
		left: 15%
		top: 15%
		right: 15%
		bottom: 15%
		border-radius: 50%
		border: 0.25vw solid transparent
		border-color: transparent
		transition: border-color 0.3s
		^[0].revealed.mine ^[1..-1]
			background-color: #990000
		^[0].marked ^[1..-1]
			border-color: red
		^[0].question ^[1..-1]
			border-color: yellow
